{% extends "web2/index.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/editor.css" />
<!--<script src="/static/ckeditor/ckeditor.js"></script>-->
<script type="text/javascript" src="/static/js/editor.js"></script>
<script type="text/javascript">
Ext.ns('App');
Ext.onReady(function() {
    App.view = new Ext.Layout({
        items: [
            { pos: 'left', width: 0},
            { pos: 'center', el: 'center' }
        ]
    })

    var editor = App.editor = new Ext.HtmlEditor({
        id: "editor",
        listeners: {
            onsave: function(){
                document.forms.page.submit();
            }
        }
    })

    var h = App.view.els.center.h - App.editor.tbar.getBottom() -20;
    App.editor.content.setHeight(h)
//    CKEDITOR.replace( 'editor', {
//        resize_enabled:false,
//    	removePlugins: 'magicline',
//        extraPlugins: 'table2',
//		toolbar: [
//			[ 'Undo', 'Redo', '-', 'Bold', 'Italic', 'Underline', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink' ],
//			[ 'Table','table2', 'TextColor', 'BGColor' ]
//		],
//        width: '100%'
//	});
//
//    CKEDITOR.instances.editor.on('instanceReady', function(){
//        var cont = CKEDITOR.instances.editor.ui.space('contents');
//        var h = Ext.get('center').getHeight()-cont.$.offsetTop-20;
//        cont.$.style.height = h + 'px';
//    })

});

</script>
{% endblock%}

{% block west %}{% endblock %}

{% block center %}
<div id="center" class="ui-layout-center ui-layout-center-edit">
    <form id="page" name="page" method="post" action="/save">
        <input id="page_id" name="page_id" type="hidden" value="{{ page.pk}}"/>
        <div class="edit-page-head">
            <input id="name" class="in-edit" name="name" value="{{ page.name }}"/>
            <!--<input type="button" onclick="document.forms.page.submit();" value="Save"/>-->
        </div>
        <div class="edit-panel">
            <ul class="edit-tool">
                <li><a class="btn b"></a></li>
                <li class="razdel"></li>
                <li><a class="btn c"></a></li>
            </ul>
        </div>
        <div class="edit-page-content">
            <textarea id="editor" name="content" rows="10">{{ page.content }}</textarea>
        </div>
    </form>
</div>
{% endblock %}


