.editor{ overflow: hidden; border:1px solid #ddd; }
.toolbar{ overflow: hidden; background:#f1f1f1; border-bottom:1px solid #bbb; padding:0px 2px; }
.body{ overflow: hidden; border:0px; outline:none; padding:0px 10px; font-size:13px; }
.body-wrap{ overflow:auto; }
.btn{ float:left; cursor:pointer; background:url(/static/img/eico.png) no-repeat; width: 25px; height: 25px; display: block; border: 1px solid #f1f1f1; margin:3px 1px;}
.btn:hover{ border: 1px solid #9BBDD6; background-color: #D9E1E7; cursor:pointer; }
.undo{ background-position:4px -2812px; }
.redo{ background-position:4px -2780px; }
.b{ background-position:4px -28px; }
.i{ background-position:4px -60px; }
.underline{ background-position:4px -188px; }
.orderedlist{background-position:4px -1756px;}
.unorderedlist{background-position:4px -1692px;}
.outdent{ background-position:4px -1372px; }
.indent{ background-position:4px -1340px; }
.save{ background-position:4px -2235px; }
.left{ background-position:4px -1468px; }
.center{ background-position:4px -1436px; }
.right{ background-position:4px -1500px; }
.link{ background-position:4px -1595px; }
.unlink{ background-position:4px -1627px; }
.image{ background-position:4px -1244px; }
.table{ background-position:4px -2588px; }
.body table{border-collapse:collapse; margin:10px 0px; }
.body table td{ padding:5px 5px; border:1px solid #999; min-width:150px; vertical-align:top; color:#006DAF;}
.forecolor{ background-position:4px -540px; }
.backcolor{ background-position:4px -508px; }
.removeformat{ background-position:4px -2204px; }
.hr{ background-position:4px -1180px; }
.sep{ float:left; border-left: 1px solid #D3D3D3; border-right: 1px solid #f9f9f9; width:0px; height: 31px; display: block; margin:0px 1px; }
.ddlist{ display:none; position:absolute; z-index:100; position:absolute; margin-top:33px; background-color:#fff; border:1px solid #999; outline:none; }
.fcolor{ max-width:220px; }
.fcolor input{ cursor:pointer; float: left;width: 20px;height: 20px;margin:1px; border:1px solid #ccc;}
.fcolor input:hover{ border:1px solid #999; }
.in-image{border:1px solid #999;margin:10px;}