body{
	margin: 0px; padding: 0px;
    font-family: arial;
}
.layout{ overflow:hidden; }

.page-name{
    margin:0px;
    color:#444;
}

.page-head{
    padding:20px !important;
    padding-top:20px !important;
    padding-bottom: 0px !important;
    overflow:hidden;
}
.page-content{
    padding:20px;
    padding-top:0px;
    color: #666;
    font-size:13px;
}
.page-content,  .page-content a{
    color: #333;
}

.page-content table{border-collapse:collapse;}
.page-content table td{ padding:5px 5px; border:1px solid #ccc; min-width:50px; vertical-align:top;}
.page-content .head td{background-color: #EEE; font-weight: bold; color: #006DAF;}
.ui-layout-west{
	background: #f7f7f7;
	color: #777;
    border-right:1px solid #DDD;
}
.ui-layout-center{

    background: #fff;
}
.ui-layout-center-edit{
    padding:0px !important;
}
.pointer{ float:left; padding:7px 10px; padding-top:5px; font-size:13px;  }
.pointer a{ color:#ddd; }
.pointer a:hover{ text-decoration:underline; }
a{ cursor:pointer; text-decoration:none; }
.line{
    border:none;
    border-bottom:1px solid #eee;
    margin:0px 20px;

}
.edit-page{ padding:0px !important; }
.in-edit{ width:100%; font-size:20px; }
.edit-page-head{ padding:10px; }
.edit-panel{
    border-top:1px solid #ddd;
    border-bottom:1px solid #bbb;
    background:#f1f1f1;
    overflow:hidden;
    display: none;
}
.edit-page-content{
    color: #666;
}

.edit-tool{ padding:0px; margin:0px; overflow:hidden; }

.razdel{
    height: 33px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #FFF;
    width: 0px;
    padding: 0px !important;
}

.cke_bottom{ display:none !important; }
.cke_top{ background: #F1F1F1 !important; }
.cke{ border:none !important; border-bottom:1px solid #ddd !important; border-top:1px solid #ddd !important;  }
.cke_toolgroup{ webkit-border-radius: 0px !important; border-radius: 0px !important; }

a.current { font-weight:bold;color:#333;text-decoration:underline; }
.toggle_li{ background-position: -430px -96px !important; }
.triangle {
font-size: 0;
width: 16px;
height: 16px;
float:left;
margin-right: 1px;
margin-top: 2px;
background: url('/static/img/t.png');
background-repeat: no-repeat;
background-position: left center;cursor:pointer;
}
.triangle-open {
background: url('/static/img/t2.png') !important;
}
.cube{font-size: 0;
width: 4px;
height: 4px;
line-height: 0; background:#888;float:left;margin-right: 7px;
margin-top: 7px;border-radius: 4px;margin-left:6px;cursor:pointer;
}
.sett{float:left; padding:2px; margin:5px;border:1px solid #f8f8f8; cursor: pointer;margin-top:4px;}
.sett:hover{ border-color: #ccc; }
.setthover{ border-color: #ccc; }
.setthover div{background-color: #777;}
.sett:hover div{background-color: #777;}
.set { width:15px;height:3px;background-color:#999; margin:2px;}
.li{font-size: 12px;border-bottom: 1px solid #c9c9c9; padding:4px 10px; color:#999; line-height: 25px; cursor: pointer;position: relative; white-space:nowrap;}
.uli a{ cursor: pointer; color:#777 ; }
.uli a:hover{color:#000;text-decoration: underline;}
.uli ul{display:none;}
.context{
    position:absolute;
    border:1px solid #999;
    z-index:10000;
    display:none;
    outline:none;
    padding:7px 1px;
    cursor:default;
    background:#fefefe;
}
.context div{padding:5px 15px;font-family:tahoma;font-size:11px;color:#111; cursor:pointer;}
.context div:hover{background-color:#eee;}
.li_tog{
    position: absolute;
    height: 16px;
    width: 16px;
    background: url('/static/img/icons2.png') no-repeat;
    right: 10px;
    top: 10px;
    background-position: -405px -96px;
}
.li-div{padding:5px 5px 5px 5px;background-color:#fcfcfc; border-bottom:1px solid #c9c9c9;display:none;}
.ul{margin: 0px;
padding: 0px;
padding-left: 13px;
}
.tree{padding:0px;}
.tab-active{
    position:relative;
    float: left;
    padding: 5px 10px;
    margin-top: 5px;
    border: 1px solid #999;
    border-bottom: none;
    padding-top: 6px;
    background: #fff;
    font-size: 12px;color:#08f;
    cursor:pointer;
}
.tab{
    float: left;
    cursor:pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-top: 5px;
    padding-top: 6px;
    //border-left-width: 0px;
    font-size: 12px;color:#08f;
    position:relative;
    margin-right: -1px;
}
.active{display:block !important;}
.content{display:none;}
.close{
    position: absolute;
    right: 0px;
    width: 22px;
    height: 14px;
    top: 7px;
    background: url('/static/img/x2.png') no-repeat;
    background-position:left center;
}
#menu{position:relative;float:left;}
.menu{
    position:absolute;
    border:1px solid #999;
    z-index:10000;
    top: 29px;
    left: 5px;
    display:none;
    outline:none;
    padding:7px 1px;
    cursor:default;
    background:#fefefe;
}
.menu div{padding:5px 15px; font-family:tahoma;font-size:11px; white-space: nowrap;}
.menu div:hover{background-color:#eee;}
.menu a{color:#111;}
.addpr{margin:5px 0px; text-align: center; text-indent: -10px;}
.addpr a{ font-size:12px; color:#333; padding-left:5px; text-decoration:underline;}

.treemenu{
    position:absolute;
    border:1px solid #999;
    z-index:10000;
    display:none;
    outline:none;
    padding:7px 1px;
    cursor:default;
    background:#fefefe;
}
.treemenu div{padding:5px 15px; font-family:tahoma; font-size:11px; white-space: nowrap;color:#111;}
.treemenu div:hover{background-color:#eee;}
.treemenu a{color:#111;}
.tab-hide {
    position: absolute;
    right: 7px;
    width: 25px;
    height: 22px;
    background: url(/static/img/alltab.png) no-repeat;
    background-position: -1px 3px;
    margin-top: 5px;
    border: 1px solid #F8F8F8;
    cursor: pointer;
    top: 0px;
}
.tab-hide:hover {
    border: 1px solid #DDD;
}
.doctab{ overflow:hidden; display:table; height: 32px; padding:0px 2px; }
.tab-list{
    border: 1px solid #999;
    z-index: 10000;
    display:none;
    top: 25px;
    position: absolute;
    background-color: #FFF;
    right: -1px;
    outline:none;
    padding:7px 1px;
    cursor:default;
    background:#fefefe;
}
.tab-list div{padding:5px 15px; font-family:tahoma;font-size:11px; white-space: nowrap;}
.tab-list div:hover{background-color:#eee;}
.scroll{ z-index:200;position:absolute; right:2px; top:35px;  width:5px; background:#333; display:none; cursor:pointer;}
.top-left{ position:relative;z-index:10;background:#f7f7f7;padding: 4px 3px 3px 10px;border-bottom: 1px solid #999;font-family: Tahoma;font-size: 21px;color: #777;font-weight: bold;}
.hide-button{ background:url(/static/img/icons2.png) no-repeat; background-position: -432px -67px;
width: 20px;
height: 25px;
float: right; cursor:pointer;}
.show-button{ background:url(/static/img/icons2.png) no-repeat; background-position: -450px -64px;
width: 20px;
height: 25px;
float: left; cursor:pointer; display:none;}
.l-resize{ position:absolute; top:35px; width:2px; bottom:0px; cursor:e-resize; right:-1px; z-index:400;}
.login{border:10px solid #888; display:table; position:relative; padding:50px 100px; padding-top:20px; background-color:#eee;}
.logo{ padding: 4px 3px 3px 20px;margin-bottom:20px;font-family: Tahoma;font-size: 21px;color: #777;font-weight: bold;border-bottom: 1px solid #DDD;}
.login .label{font-size:11px ;font-family: tahoma;padding:5px;line-height: 17px;}
.login .submit{border: 1px solid #0076DD;font-size:11px ;font-family: tahoma;
padding: 5px 16px;
cursor: pointer;
background-color: #5AAAF0;
color: #FFF;}
.delete{ margin-right:5px; display:block; width:16px; height:16px; background:url(/static/img/icons2.png) no-repeat; background-position: -455px 0px; }
.goprojects{float: left;
font-size: 13px;
font-weight: bold;
line-height: 31px;}
.goprojects a{color:#333;}
.msg{ min-width:250px; position:absolute; right:50px; top:20px; display:none;}
.msg .green{ border: 1px solid #51A351;
padding: 10px 15px;
font-size: 13px;
background: #CAFFCA; }
.msg .red{ border: 1px solid red;
padding: 10px 15px;
font-size: 13px;
background: #FDD5D5; }
.hide-li{right: -1px;
width: 29px;
height: 25px;
position: absolute;
background: #F8F8F8;
border-right: 1px solid #DDD;
}
.attach{width: 16px;
height: 16px;
background: url(/static/img/attach.png);
float: left;
margin-top: 7px;
margin-right: 5px;
margin-left: 5px;
cursor: pointer;}
.attach-list{ display:none; position: absolute; width:100%; top: 0px; background: #FFF;}
.button {border: 1px solid #0076DD;font-size:11px;font-family: tahoma;
padding: 5px 16px;
cursor: pointer;
background-color: #5AAAF0;
color: #FFF;}
.input{ border:1px solid #ccc; padding:4px 5px; min-width:200px; }
.file{ margin-top:40px; position:absolute;}
.form-file {
    position: absolute;
	-moz-opacity: 0;
	filter:alpha(0);
	opacity: 0;
    z-index: 2;
    height: 30px;
    margin-top: 40px;
    width: 160px;
}
.attach-list table td {
        padding: 5px 5px;
        vertical-align: top;
        border: none;
        min-width:20px;
}
.attach-list .lu th {
    padding: 5px 5px;
    vertical-align: top;
    border-bottom:3px solid #888;
    text-align:left;
}
.attach-list .lu tr:hover td, .attach-list .lu tr:hover a{
    background-color: #8DC2F1;
    color: #FFF !important;
    cursor:pointer;
}