<!DOCTYPE html>
<html>
<head>
<title>Documentation</title>
<link rel="stylesheet" href="/static/css/base2.css" />
<script type="text/javascript" src="/static/js/ext34/ext-base.js"></script>
<script type="text/javascript" src="/static/js/ext34/ext-core.min.js"></script>
<script>
    Ext.Element.addMethods({
        tgl: function(){
            if(this.isStyle('display','none')){
                this.setStyle('display','block')
            }else{
                this.setStyle('display','none')
            }
        }
    });
</script>
<script type="text/javascript" src="/static/js/layout.js"></script>

{% block head %}
<script type="text/javascript" src="/static/js/dd.js"></script>
<script type="text/javascript" src="/static/js/cookie.js"></script>
<script type="text/javascript" src="/static/js/tabs.js"></script>
<script type="text/javascript" src="/static/js/tree.js"></script>
<script type="text/javascript">
    Ext.ns('app');

    Ext.onReady(function() {



        var tree = new Ext.Tree({
            id:'tree',
            listeners: {
                "select": function(e, id){
                    var tab = tabs.add(e,id);
                    if(tab) {
                        tabs.setActiveTab(tab, id);
                    }
                }
            }
        });

        var tabs = app.tabs = new Ext.Tabs({
            id: "doctab",
            active: 'dashtab',
            content: 'content',
            listeners: {
                "click": function(e){
                    tree.setActive('view'+e.id.split('tab')[1]);
                    tree.showActive();
                }
            }
        })

        var menu = Ext.get("menu").on("click", function(){
            var e = this.child('.sett');
            var m = this.child('.menu');
            if( !e.hasClass("setthover") ){
                e.toggleClass("setthover");
            }
            m.show();
            m.focus();
            m.on('blur', function(){
                if( e.hasClass("setthover") ){
                    e.toggleClass("setthover");
                }
                m.hide();

            })
        })

        app.view = new Ext.Layout({
            listeners: {
                "resize": function(){
                    var b = Ext.get("content");
                    var e = Ext.get("center");
                    b.setStyle({
                        overflow: "auto",
                        position: "absolute",
                        height: (e.getHeight() - tabs.el.getHeight() ) + "px",
                        width: "100%"
                    })
                    tabs.tabResize();
                },
                "onRender": function(){
                    tabs.initCook();
                    tree.body.setHeight( Ext.get('left').getHeight() - Ext.get('left').child('.top-left').getHeight() )
                }
            },
            items: [{
                pos: 'left',
                width: 230,
                el: 'left'
            },{
                pos: 'center',
                el: 'center'
            }]
        });

    });
</script>
{% endblock %}
</head>
<body>

{% block west %}
<div id="left" class="ui-layout-west">
    <div class="top-left">
        <b>#</b><b style="color: #c2c2c2;margin-left: 2px; ">Note</b><b style="color: #08f;">Docs</b>
    </div>

    <div id="tree">
    {% if tree %}
        {{ tree|safe|escape }}
    {% else %}
    <ul>
        <li style="padding-left:10px;">No projects&nbsp;-&nbsp;<a href="/add">Add project</a></li>
    </ul>
    {% endif %}

</div>
<div id="treemenu" class="treemenu" tabindex="-1">
        <a><div id="edittree">Редактировать</div></a>
        <a><div id="addtree">Добавить страницу</div></a>
        <div style="padding:0px; margin:5px 0px; border-top:1px solid #eee;"></div>
        <a><div id="deltree">Удалить проект</div></a>
        </div>
    </div>
{% endblock %}

{% block center %}
<div id="center" class="ui-layout-center">

    <div id="tab" style="border-bottom: 1px solid #999;background-color: #f8f8f8;height: 31px;border-top: 1px solid #FFF;padding-left: 0px;visibility: visible;">
		<div id="menu">
            <div class="sett">
    			<div class="set"></div>
    			<div class="set" style="margin-top:3px;"></div>
    			<div class="set" style="margin-top:3px;"></div>
    		</div>
            <div class="menu" tabindex="-1">
                <a href="/new"><div>Добавить проект</div></a>
            </div>
            </div>
		<div id="doctab" class="doctab">
            <div id="dashtab" class="dashtab tab_cur">Dashboard</div>
        </div>
        <div id="tabhide" class="tab-hide"></div>
        <div id="tablist" class="tab-list">
            <div id="tabclose" style="border-top: 1px solid #EEE;">Закрыть все вкладки</div
        </div>
	</div>

<div id="content" class="redactor_editor">
<div id="pagedash" class="content active">
<div class="page-head">
    <h2 class="page-name">Dashboard</h2>
</div>
<hr class="line"/>
<div class="page-content redactor_editor">
    {% if page %}
    <ul>
    {% for e in page %}
        <li><a href="#">{{ e.name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
</div>
</div>
</div>

</div>
<div id="context" class="context" tabindex="-1">
    <div id="pageedit">Редактировать страницу</div>
    <div id="pageadd">Добавить страницу</div>
    <div style="padding:0px; margin:5px 0px; border-top:1px solid #eee;"></div>
    <div id="pagedel">Удалить страницу</div>
</div>
{% endblock %}


</body>
</html>


