<!DOCTYPE html>
<html>
<head>
<title>Notedocs</title>
<link rel="stylesheet" href="/static/css/base2.css" />
<script type="text/javascript" src="/static/js/ext34/ext-base.js"></script>
<script type="text/javascript" src="/static/js/ext34/ext-core.min.js"></script>
<script>
    Ext.Element.addMethods({
        tgl: function(){
            if(this.isStyle('display','none')){
                this.setStyle('display','block')
            }else{
                this.setStyle('display','none')
            }
        }
    });
</script>
<script type="text/javascript" src="/static/js/layout.js"></script>

{% block head %}
<script type="text/javascript" src="/static/js/dd.js"></script>
<script type="text/javascript" src="/static/js/cookie.js"></script>
<script type="text/javascript" src="/static/js/tabs.js"></script>
<script type="text/javascript" src="/static/js/tree.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}
</head>
<body>

{% block west %}
<div id="left" class="ui-layout-west">
    <div id="lresize" class="l-resize"></div>
    <div class="top-left">
        <b>#</b><b style="color: #c2c2c2;margin-left: 2px; ">Note</b><b style="color: #08f;">Docs</b>
        <div id="hide-lbar" class="hide-button"></div>
    </div>

    <div id="tree">
    {% if tree %}
        {{ tree|safe|escape }}
    {% endif %}
    </div>
    <div id="treemenu" class="treemenu" tabindex="-1">
        <div id="edittree">Редактировать</div>
        <div id="addtree">Добавить страницу</div>
        <div style="padding:0px; margin:5px 0px; border-top:1px solid #eee;"></div>
        <div id="deltree">Удалить проект</div>
        </div>
    </div>
{% endblock %}

{% block center %}
<div id="center" class="ui-layout-center">
    <div id="tab" style="border-bottom: 1px solid #999;background-color: #f8f8f8;height: 31px;border-top: 1px solid #FFF;padding-left: 0px;">
		<div id="show-lbar" class="show-button"></div>
        <div id="menu">
            <div class="sett">
    			<div class="set"></div>
    			<div class="set" style="margin-top:3px;"></div>
    			<div class="set" style="margin-top:3px;"></div>
    		</div>
            <div class="menu" tabindex="-1">
                <a href="/new"><div>Добавить проект</div></a>
                <a href="/manage"><div>Управление notedocs</div></a>
                <a href="/logout" ><div style="border-top:1px solid #eee;">Выход</div></a>
            </div>
        </div>
		<div id="doctab" class="doctab"></div>
        <div id="tabhide" class="tab-hide"></div>
        <div id="tablist" class="tab-list">
            <div id="tabclose" style="border-top: 1px solid #EEE;color:#ddd;">Закрыть все вкладки</div
        </div>
	</div>
    <div id="content" class="">
        <div id="pagedash" class="content">
            <div class="page-head">
                <h2 class="page-name">Dashboard</h2>
            </div>
            <hr class="line"/>
            <div class="page-content ">
                {% if page %}
                <ul>
                {% for e in page %}
                    <li><a href="#">{{ e.name }}</a></li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
    </div>
</div>

<div id="context" class="context" tabindex="-1">
    <div id="pageedit">Редактировать страницу</div>
    <div id="pageadd">Добавить страницу</div>
    <div style="padding:0px; margin:5px 0px; border-top:1px solid #eee;"></div>
    <div id="pagedel">Удалить страницу</div>
</div>
{% endblock %}

</body>
</html>


